<!doctype html>

<head>

  <title> &#x1F525 Web en mantenimiento</title>


  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>



<article>
    <h1>Web en mantenimiento</h1>
    <div>
        <p>Lamentamos las molestias, ¡Volveremos lo antes posible! &#x1f4aa</p>
    </div>
</article>