<style>
  body { text-align: center; padding: 150px; }
  h1 { font-size: 50px; }
  body { font: 20px Helvetica, sans-serif; color: #333; }
  article { display: block; text-align: left; width: 650px; margin: 0 auto; }
  a { color: #155998; text-decoration: none; }
  a:hover { color: #333; text-decoration: none; }
</style>



{{!-- Mensajes disponibles --}}


{{!-- {{> mantenimiento_en}} --}}
{{!-- {{> mantenimiento_es}} --}}
{{!-- {{> proximamente_en}} --}}
{{> proximamente_es}}


<article>
  <p>
    &mdash; <i class="fa fa-github"></i><a target="_blank" href="https://github.com/simonramosb"> simonramosb </a>
  </p>
</article>
  <p style="margin-top: 400; font-size:smaller">{{getDate}}</p>